<h2>Welcome, {{user.firstName}}</h2>
<h4>Your Stories</h4>

{{#if stories}}
<h3>{{stories.title}}</h3>

<table class="striped">
    <thead>
        <tr>
            <th>Title</th>
            <th>Date</th>
            <th>Status</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        {{#each stories}}
        <tr>
            <td>
                <a href="/stories/show/{{id}}">{{title}}</a>
            </td>
            <td>{{formatDashboardDate date 'MMMM Do, YYYY'}}</td>
            <td>{{status}}</td>
            <td></td>
        </tr>
        {{/each}}
    </tbody>
</table>
{{else}}
<p>
    <em>
        <b>{{user.firstName}} has not created any stories.</b>
    </em>
</p>
{{/if}}