<div class="row">
    <div class="col s12 m8">
        <h3>{{story.title}}</h3>
        <div class="card story">
            <div class="card-content">
                <span class="card-title">
                    <em>{{formatDate story.date}}</em>
                </span>
                <p>{{{story.body}}}</p>
            </div>
        </div>
        {{#if story.allowComments}} {{#each story.comments}}
        <div class="card">
            <div class="card-content">
                <h5>{{commentBody}}</h5>
            </div>
            <div class="chip">
                <img src="{{commentUser.image}}" alt="Author"> {{commentUser.firstName}} {{commentUser.lastName}}
            </div>
            <small>
                <em>{{formatDate commentDate}}</em>
            </small>
        </div>
        {{/each}}
        <div class="card">
            <div class="card-content">
                <span class="card-title">Comments</span>
                {{#if user}}
                <form action="/stories/comment/{{story.id}}" method="POST">
                    <div class="input-field">
                        <textarea name="commentBody" class="materialize-textarea"></textarea>
                        <label for="commentBody">Add Comment</label>
                    </div>
                    <input type="submit" value="Submit" class="btn">
                </form>
                {{else}}
                <p>Please
                    <a href="/auth/google">log in</a> to leave a comment.</p>
                {{/if}}
            </div>
        </div>
        {{/if}}
    </div>
    <div class="col s12 m4">
        <div class="card center-align">
            <div class="card-content">
                <span class="card-title">{{story.user.firstName}} {{story.user.lastName}}</span>
                <img src="{{story.user.image}}" alt="Author" class="responsive-img circle">
            </div>
            <div class="card-action">
                <a class="center-align" href="/stories/user/{{story.user.id}}">More from {{story.user.firstName}}</a>
            </div>
        </div>
    </div>
</div>